.App {
  text-align: center;
}

.appBody {
  height: calc(100vh - var(--bodyheight));
}

.left {
  text-align: left;
}

.error {
  color: red;
}

@media only  screen and (min-width: 600px) {
  .profilePage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 800px;
    justify-content: center;
  }
}
