:root {
  --header-sm: 54px;
  --header-md: 27px;
  --header-lg: 48px;
}

.modalMenuWrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-flow: column;
  justify-content: center;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.modalMenu {
  display: flex;
  flex-flow: column;
  gap: 20px;
}

.modalMenu form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 85vw;
  max-width: 270px;
  margin: 0 auto;
  padding: 10px 0;
  background-color: var(--bg-container);
}

.sqAnchor {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 9%;
  background-color: var(--bg-container);
  width: 100vw;
  margin: 0 auto;
  position: absolute;
  left: 0;
  top: 0;
  height: 68px;
}

.modalTitle .headerLogo img {
  display: none;
}

.modalTitle .flex-align {
  background: var(--bg-container);
  border: none;
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 8px 12px;
  margin-top: 8px;
  transition: background-color 0.3s ease;
}

.modalBody .flex-align {
  display: none;
}

.modalMenuWrapper .placesAutocomplete .flex-align {
  margin-top: 28px;
}

.modalTitle .flex-align:hover {
  background: #3a0775;
  cursor: pointer;
}

.modalMenu .placesAutocomplete__inputWrap {
  flex-flow: column;
}

.modalMenu .searchBar-input {
  width: 100px;
}

.searchSec {
  display: flex;
  flex-flow: column;
  gap: 10px;
}

.modalMenu .placesAutocomplete__hint {
  display: none;
}

.modalBody {
  display: flex;
  flex-flow: column;
  gap: 20px;
  align-items: center;
  position: absolute;
  left: 0;
  top: 60px;
  height: calc(100vh - 60px);
  width: 100vw;
  padding-top: 20px;
}

.modalNavbar ul {
  display: flex;
  flex-flow: column;
  gap: 15px;
}

.modalNavbar li a {
  text-decoration: none;
  color: var(--font-color);
  font-weight: bold;
}

.sqMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  min-width: 120px;
  background-color: var(--bg-container);
}

.modalMsg {
  width: 100px;
  height: 25px;
  text-align: center;
}

.modalMsgActiv {
  background-color: var(--bg-container);
}

@media only screen and (min-width: 294px) {
  .modalTitle .headerLogo img {
    display: inline-block;
  }

  .searchSec {
    gap: 15px;
  }

  .modalNavbar ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70vw;
    max-width: 800px;
    column-gap: 20px;
    row-gap: 20px;
    place-items: center;
    justify-content: center;
  }

  .sqMenu {
    align-self: stretch;
    justify-self: stretch;
    max-width: none;
    padding: 0;
    height: 20vw;
  }

  .modalBody .flex-align {
    display: flex;
  }
}

@media only screen and (min-width: 768px) {
  .sqMenu {
    max-height: 130px;
    height: 15vw;
  }

  .modalMenu form {
    gap: 20px;
    padding: 15px 0;
  }

  .searchSec {
    flex-flow: row;
    justify-content: center;
    gap: 20px;
    position: relative;
    left: 18px;
  }

  .searchSec .locationBtn {
    font-size: 16px;
    padding: 24px 24px;
  }
}
