.stickyHeader {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 9%;
  padding-right: 9%;
  gap: 30px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  background-color: aliceblue;
}

.headerLogo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.h1 {
  font-size: 1.25rem;
  color: #007bff;
}

.navbarBtn {
  display: flex;
  align-items: center;
}

.full-header {
  display: none;
}

.full-navbar li a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.active {
  border-bottom: 1px solid #007bff;
}

@media only screen and (min-width: 768px) {
  .navbarBtn {
    display: none;
  }

  .headerLogo img {
    display: none;
  }

  .full-header {
    display: flex;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    gap: 10px;
  }

  header .label {
    display: none;
  }

  header .placesAutocomplete__hint {
    display: none;
  }

  header .flex-align {
    font-size: 12px;
    padding: 6px 12px;
    margin-top: 0;
    transition: background-color 0.3s ease;
  }

  header .searchBar-input {
    height: 32px;
    padding: 6px;
    width: 100px;
  }

  .full-navbar {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    gap: 5px;
  }

  .full-navbar li:last-child {
    padding-left: 5px;
    border-left: 2px solid rgba(0, 0, 0, 0.5);
  }

  ul.nav-list li a {
    text-decoration: none;
    color: #007bff;
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 1024px) {
  .stickyHeader {
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    gap: 30px;
  }

  .headerLogo img {
    display: inline-block;
  }

  .full-header {
    gap: 40px;
  }

  .full-navbar {
    gap: 10px;
  }

  .full-navbar li:last-child {
    padding-left: 10px;
  }
}

@media only screen and (min-width: 1440px) {
  .full-header {
    gap: 50px;
  }

  .full-navbar {
    gap: 15px;
  }

  .full-navbar li:last-child {
    padding-left: 15px;
  }
}
